.Home-wrapper {
    padding: .5rem;
    width: 90%;
    border-radius: .7rem;
    margin-inline: auto;
} 
.Home-wrapper > div {
    opacity: 0;
}
@keyframes slideUpComp {
    from {
        opacity: 0;
        transform: translate(0, 20%);
    }
    to {
        opacity: 1;
    }
}
.Home-wrapper .left .home-tab-picture {
    width: 12rem;
    height: 12rem;
    justify-content: center;
    margin: auto;
    margin-top: 25px;
    display: block;
    border: 4px solid white;
    border-radius: .4rem;
    filter: contrast(.9);
    box-shadow: 2px 2px 7.5px white;
}
.Home-wrapper .left {
    display: flex;   
    justify-content:center ;
    align-items: center;
    height: 50vh;
    animation: slideUpComp 0.5s ease-in-out forwards 0s;
}
.Home-wrapper .left .image-container{ 
    width: fit-content;
    position: relative;
} 

.Home-wrapper .left .image-container .infront {  
    position: absolute;
    top: 0%;
    left: -25%;
    transform: translate(75% -50%);
}

.Home-wrapper .left .image-container .back{
    transform: translateX(2em) scale(1.1);
}

.Home-wrapper .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    animation: slideUpComp 0.5s ease-in-out forwards 0.5s;
}
.Home-wrapper .right h1, .Home-wrapper .right p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    width: fit-content;
    height: fit-content;
    text-align: center;
    margin: 1rem 0px;
}

.Home-wrapper .right p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}   

.Home-wrapper .right .home-button {
    width: fit-content;
    height: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    padding: .2rem .5rem;
    color: white;
    background-color: #a7abafc4;
    border: .2rem solid white;  
    margin-bottom: 2rem;
}

@media (min-width: 900px){
    .Home-wrapper{
        display: flex;
        align-items: center;
    }
    .Home-wrapper .left, .Home-wrapper .right{
        width: 50vw;
        height: 100vh;
    }

    /* Components */

    .Home-wrapper .left .home-tab-picture {
        width: 15rem;
        height: 15rem;
    }
    .Home-wrapper .right p {
        font-size: 1.5rem;
    }
    .Home-wrapper .right h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 800px) {
    .Home-wrapper{
        display: flex;
    }
    .Home-wrapper .left, .Home-wrapper .right{
        height: 100vh;
        width: 50vw;    
    }
    .Home-wrapper .left .home-tab-picture {
        width: 7.5rem;
        height: 7.5rem;
    }
    .Home-wrapper .right p {
        font-size: 1rem;
    }
    .Home-wrapper .right h1 {
        font-size: 1.5rem;
        margin-bottom: 0;
    }
    .Home-wrapper .right .home-button {
        font-size: .5rem;
        border: .5px solid white;
        border-radius: .2rem;
    }
}

@media (max-width: 650px){
    .Home-wrapper{
        display: flex;
    }
    .Home-wrapper .left, .Home-wrapper .right{
        height: 100vh;
        width: 50vw;
    }
    .Home-wrapper .left .home-tab-picture {
        width: 4.5rem;
        height: 4.5rem;
    }
    .Home-wrapper .right p {
        font-size: .5rem;
        margin-inline: .5rem;
        margin-right: .1rem;
        margin-top: .25rem;
    } 
    .Home-wrapper .right h1 {
        font-size: .75rem;
        margin-bottom: 0;
    }
    .Home-wrapper .right .home-button{
        padding: .25rem;
        font-size: .5rem;
    }
}

/* Phone */

@media screen and (max-width: 500px) and (min-height: 700px){
    .Home-wrapper{
        display: flex;
        flex-direction: column;
    }
    .Home-wrapper .left, .Home-wrapper .right{
        width: 90vw;
        height: 50.7vh;
    }
    .Home-wrapper .left .home-tab-picture{
        width: 12rem;
        height: 12rem;
    } 
    .Home-wrapper .right p {
        font-size: .9rem;
        margin-inline: .5rem;
        margin-right: .1rem;
    } 
    .Home-wrapper .right h1 {
        font-size: 2rem;
        margin-bottom: .5rem;
    }
    .Home-wrapper .right .home-button{
        font-size: 1rem;
        padding: .5rem .75rem;
    }
}

/* Desktop / Laptop */

@media screen and (max-width: 450px) and (max-height: 300px){
    .Home-wrapper{
        display: flex;
        flex-direction: row;
    }
    .Home-wrapper .left, .Home-wrapper .right{
        width: 50vw;
        height: 100vh;
    }
    .Home-wrapper .left .home-tab-picture{
        width: 5rem;
        height: 5rem;
    }
    .Home-wrapper .right p {
        font-size: .4rem;
        margin-inline: .5rem;
        margin-right: .1rem;
    } 
    .Home-wrapper .right h1 {
        font-size: 1rem;
        margin-bottom: .5rem;
    }
    .Home-wrapper .right .home-button{
        font-size: .5rem;
        padding: .25rem .25rem;
    }
}

