.hideSidebar{
    display: none;
    animation: hideSideBar .5s ease;
}
@keyframes hideSideBar {
    from {
        display: block;
    }
    to {
        display: none;
        left: -12rem;
    }
}
.SideBar, .hideSidebar{
    width: 10rem;
    height: 110vh;
    background-color: #252538;
    position: fixed;
    left: 0;
    z-index: 2;
}
.SideBar {
    animation: showSideBar .5s ease;
}
@keyframes showSideBar {
    from{
        left: -12rem;
    }
}
.sidebar-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.sidebar-wrapper h1{
    text-align: center;
    padding: 2rem 0px;
    color: White;
}
.sidebar-wrapper a {
    display: block;
    width: 100%;
    height: 100%;
    height: 5rem;
    color: rgb(255, 255, 255);
    position: relative;
    color: white;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    display: flex;
}
.sidebar-wrapper a:hover {
    opacity: .7;
    background-color: rgba(189, 187, 186, 0.274);
}
.sidebar-wrapper .active{
    box-shadow: 0 0 10px -5px white;
}
.sidebar-wrapper .hideSideBar{
    position: absolute;
    width: fit-content;
    height: fit-content;
    padding: .3rem .75rem .25rem .5rem;
    right: -2.25rem;
    border-radius: 0 2rem 2rem 0 ;
    font-size: 2rem;
    font-weight: 1000;
    background-color: #252538;
    color: white;
    display: flex;
}
@media (min-width: 700px){
    .SideBar {
        display: none; 
    }
}

@media (max-width: 900px){
    .SideBar, .hideSidebar{
        height: 100vh;
        width: 8rem;
    }
    .sidebar-wrapper h1{
        padding: 1rem;
        font-size: 1.3rem;
    }
    .sidebar-wrapper a {
        font-size: 1rem;
        height: 15vh;
    }
}
