.Projects .bottom{
    background-color: #afafb1d0;
    border: 5px solid white;
    border-radius: .5rem;
    display: flex;
    margin: 1rem auto;
    width: 90.5vw;
    height: 50vh;
}
.bottom h1{
    padding: 1em;
    font-size: 2rem;
    color: white;
    text-shadow: 0 0 .5rem white;
}

@media screen and (max-width: 500px) and (max-height: 700px){
    .bottom h1{
        padding: .1rem;
        font-size: 1rem;

    }
    
}